.container
{
    margin-top: 100px;
}
#search_div 
{
    display : inline-block;
    margin-right : 5px; 
} 
#search_btn 
{
    display : inline-block; 
} 
#searchInput
{

}
#search_container
{
    width : 100%;
}
#photos_div
{
    margin-top: 20px;
    padding: 10px;
}
.picture
{
    height: 200px;
}
.btnGallery
{
    margin-right: 10px;
    margin-top: 7px;
}
#photos_thumbnail
{
    position: absolute;
    bottom: 2px;
}
.photoThumbnail
{
    width: 100px;
    height: 100px;
}
.selectedPhoto
{
    border: 1px solid #428bca;
}
#message_txt
{
    margin-top: 170px;
    opacity: 0.72;
}